.Navbar{
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
    font-size: 1.5rem;
    font-weight: 500;
    align-items: center;

    position: sticky;
    top: 0;
    background-color: #d4dffb;
}

.Navbar a:hover{
    color: blue;
}