
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

td, th{
    height: 60px !important;
}

table{
    margin: 1.5rem !important;
    height: fit-content;
}

.AD_table_container{
    display: grid;
    gap: 1rem;
}

.AD_table_container table{
    width: 80%;
    margin: auto;
    
}

@media screen and (min-width: 1200px){
    .AD_table_container{
        grid-template-columns: 1fr 1fr;
    }

    table, th, td {
        padding: 20px;
    }
}