.slot, .slot_AD{
    display: grid;
    gap: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: white;
}

.slot{
    grid-template-columns: 5rem 1fr;
    width: 25rem;
}

.slot_AD{
    grid-template-columns: 10rem 1fr;
    width: 36rem;
    border: 1px solid black;
}

.imageContainer{
    background-color: #0000ff12;
    border-radius: 0.5rem;
    height: fit-content;
}

.image, .image_AD{
    object-fit: contain;
}
.image{
    width: 5rem;
    height: 5rem;
}

.image_AD{
    width: 15rem;
    height: 15rem;
}