.slot{
    display: grid;
    grid-template-columns: 5rem 1fr;
    gap: 1rem;
    width: 25rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: white;
}

.imageContainer{
    background-color: #0000ff12;
    border-radius: 0.5rem;
    height: fit-content;
}

.image{
    width: 5rem;
    height: 5rem;
    object-fit: contain;
}